{% extends 'base.html' %}

{% block head %}
  <title>{{user}}'s Profile</title>
{% endblock %}

{% block body %}
<div class="container" align="center">
<div class="jumbotron" align="left">
  <div class="container">

    <form action="/account/profile_pic/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
          <p>
             <input id="id_image" type="file" class="" name="image">
         </p>
         <button type="submit">Submit</button>
    </form>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-outline-success" type="submit" name="button">Submit</button>
    </form>
  </div>
  </div>
  </div>
{% endblock %}
