{% extends 'base.html' %}

{% block body %}
<div class="container" align="center">
<div class="jumbotron" align="left">
  <div class="container">
    <p>{{ post.views }} views <br> Posted on: {{now}}</p>
    <h3>{{ post.title }}</h3>
    <div class="row">
      <div class="col-sm-6">
        {% if post.album %}
          <h6>Album: {{ post.album }}</h6>
        {% endif %}
        {% if post.artist %}
          <h6>Artist: {{ post.artist }}</h6>
        {% endif %}
        {% if post.song %}
          <h6>Song: {{ post.song }}</h6>
        {% endif %}
        <p> {{ post.post }} </p>
        {% if delete %}
          <a href="{% url 'users:remove_post' pk=post.pk %}" class="btn btn-danger">Remove</a>
        {% endif %}
        <a href="/account/profile/?p={{post.fromUser.username}}">Posted by: {{post.fromUser.username}}</a>
      </div>
      <div class="col-sm-6">
        {% if user.is_authenticated %}
          <a href="{% url 'users:create_comment' pk=post.pk %}" class="btn btn-primary">Create Comment</a>
        {% endif %}
        <h3>Comments</h3>
        {% for comment in comments %}
          <p>{{comment.commentUser}}: {{comment.comment}}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
